:root {
  --bg-color: #f5f5f5;
  --text-color: #000;
  --link-bg: #000;
  --link-hover: #333;
}


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
